<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WireGuard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body class="bg-gray-900 text-white font-sans">
<div>
    <h1 class="text-4xl font-medium my-16 text-gray-700 text-center">
        <i class="fas fa-shield-alt text-red-600 text-3xl mr-2"></i>
      <span class="align-middle">WireGuard</span>
    </h1>

    <form @submit="login" method="POST"
      class="shadow rounded-md bg-white dark:bg-neutral-700 mx-auto w-64 p-5 overflow-hidden mt-10">
      <!-- Avatar -->  
      <div class="flex items-center rounded-full p-2 mr-4 bg-gray-600">
        <i class="fas fa-user text-white text-2xl"></i>
      </div>

      <input type="password" name="password" 
        class="px-3 py-2 text-sm dark:bg-neutral-700 text-gray-500 dark:text-gray-500 mb-5 border-2 border-gray-100 dark:border-neutral-800 rounded-lg w-full focus:border-red-800 dark:focus:border-red-800 dark:placeholder:text-neutral-400 outline-none" />

      <button type="submit" class="px-3 py-2 text-sm bg-red-600 text-white rounded-lg w-full focus:outline-none focus:ring-2 dark:bg-red-800">
        Login
      </button>

    </form>
  </div>
</body>
</html>